@import url(https://fonts.googleapis.com/css?family=Advent+Pro:100);
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?qg8g1q');
  src:  url('fonts/icomoon.eot?qg8g1q#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?qg8g1q') format('truetype'),
    url('fonts/icomoon.woff?qg8g1q') format('woff'),
    url('fonts/icomoon.svg?qg8g1q#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}


/*Globals*/

html {
	height: 100%;
}

body {
	background: url("img/grasslands.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

table {
	table-layout: fixed;
	width: 100%;
	height: 100%;
}

a, a:visited, a:active{
    text-decoration: none;
    color: #000000;

}

td {
  padding-bottom: 1em;
}

a:hover{
    text-decoration: none;
    color:#454545;	
}

/*Left side*/
#leftpannel{
	position: absolute;
	top: 0%;
	left: 0%;
	width: 50%;
	height: 100%;
}

#navigation {
	font-family: 'Advent Pro', sans-serif;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 350px;
	height: 575px;
	margin-top:-290px;
	/* Margin top is height /2 inversed + some adjustments*/
	margin-left:-190px;
	padding:15px;
	border-radius: 25px;
	background-color:rgba(255,255,255,0.7);
}

#nav_title {
	font-size:55px;
	text-align: center;
	font-weight: bold;
}

#nav_subtitle {
	font-size:28px;
	text-align: center;
	margin-top:5px;
	margin-bottom: 25px;
	font-weight: bold;
}

#nav_links {
	font-size:30px;
	text-align: center;
}

/*Right side*/
#rightpannel{
	position: absolute;
	top: 0%;
	right: 0%;
	width: 50%;
	height: 100%;
	background-color:rgba(255,255,255,0.7);
  	overflow-y: auto;
 	font-family: 'Roboto', sans-serif;
 	
}

#right_title{
	margin:50px 0px 0px 50px;
	font-size:45px;
	font-weight: bold;
	font-family: 'Advent Pro', sans-serif;
}

#right_subtitle{
	font-size:25px;
	margin:10px 0px 0px 50px;
	font-family: 'Advent Pro', sans-serif;
	font-weight: bold;
}

#right_text{
	margin:20px 0px 0px 50px;
	font-size:18px;
	margin-right:50px;
}

#socialmediaicons {
	margin-left:3px;
	margin-right:3px;
}


/*Fonts */
/*Rendered Icons*/
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

    font-size:100px;
    text-align:center;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star_icon:before {
  content: "\e900";
}
.icon-question_icon:before {
  content: "\e901";
}
.icon-study_icon:before {
  content: "\e902";
}
.icon-heart_icon:before {
  content: "\e903";
}


/* Flip animation*/
/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
 	margin: 10px;
 	float:left;

}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 225px;
	height: 225px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	background: #ffffff;
}
/*EVERY PROJECT PANNEL (for now because I'm bad at webdev) */
.back-img-t7s{
	position: absolute;
	top: 0px;
	left:0px;
	width:225px;
	height:225px;
	background: url("img/t7subs_blur.png");
	background-size:225px 225px;
	opacity: 0.4;
	z-index: -1;
	cursor:pointer;
}

.back-img-tlblog{
	position: absolute;
	top: 0px;
	left:0px;
	width:225px;
	height:225px;
	background: url("img/TLblog_blur.png");
	background-size:225px 225px;
	opacity: 0.4;
	z-index: -1;
	cursor:pointer;
}

.back-img-synergy{
	position: absolute;
	top: 0px;
	left:0px;
	width:225px;
	height:225px;
	background: url("img/synergy_blur.png");
	background-size:225px 225px;
	opacity: 0.4;
	z-index: -1;
	cursor:pointer;
}

.back-img-career-alignment{
	position: absolute;
	top: 0px;
	left:0px;
	width:225px;
	height:225px;
	background: url("img/careercenterUX_alignment_blur.png");
	background-size:225px 225px;
	opacity: 0.4;
	z-index: -1;
	cursor:pointer;
}

.back-img-career-navigator{
	position: absolute;
	top: 0px;
	left:0px;
	width:225px;
	height:225px;
	background: url("img/careercenterUX_navigator_blur.png");
	background-size:225px 225px;
	opacity: 0.4;
	z-index: -1;
	cursor:pointer;
}

.back-img-videoediting{
	position: absolute;
	top: 0px;
	left:0px;
	width:225px;
	height:225px;
	background: url("img/videoediting_blur.png");
	background-size:225px 225px;
	opacity: 0.4;
	z-index: -1;
	cursor:pointer;
}

.back-img-healthtechnology{
	position: absolute;
	top: 0px;
	left:0px;
	width:225px;
	height:225px;
	background: url("img/healthtechnology-blur.png");
	background-size:225px 225px;
	opacity: 0.4;
	z-index: -1;
	cursor:pointer;
}

.back-img-mito{
	position: absolute;
	top: 0px;
	left:0px;
	width:225px;
	height:225px;
	background: url("img/mitocard_blur.png");
	background-size:225px 225px;
	opacity: 0.4;
	z-index: -1;
	cursor:pointer;
}



.newline{
	clear:both;
}
/*END OF PROJECT BACKS */


.back-title{
	font-size:25px ;
	z-index: 1;
	text-align: center;
	margin-top:35px;
	cursor:pointer;
}

.back-text{
	font-size:18px;
	z-index: 1;
	text-align: center;
	margin: 12px 15px 0px 15px;
	word-wrap: break-word;
	cursor:pointer;
}

#tags{
	font-size: 12px;
	text-align: center;
}

/*Script elements for navigation*/
#home{
 transition: opacity 0.6s;
}

#works{
 transition: opacity 0.6s;
 display: none;
 opacity: 0;
}

#sideprojects{
 transition: opacity 0.6s;
 display: none;
 opacity: 0;
}

#academia{
 transition: opacity 0.6s;
 display: none;
 opacity: 0;
}

 