 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>K16 Production is a freelance multimedia production company based in Toronto, Canada. Founded by Kei'ichiro Yamamoto, K16 Production aims to help tell the storyline <i>you </i> want.</p>
                </div>
                <div class="col-lg-4">
                    <p>K16 Production aims to work with you personally from the early stages of production to help build content tailored to your needs. Please contact us at K16Production(at)gmail.com to pitch us a project you are envisioning.</p>
                </div>
               <!--
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Theme
                    </a>
                </div>
                -->
            </div>
        </div>
    </section>